<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CareerForge AI</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar">
    <div class="logo">CareerForge AI</div>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/module1">Resume Analyzer</a>
    </div>
</nav>

<!-- MAIN CONTENT -->
<div class="main-container">
    {% block content %}{% endblock %}
</div>

<script src="/static/js/main.js"></script>
</body>
</html>